* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    background-color:aliceblue;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.thecoolist.com%2Fwp-content%2Fuploads%2F2016%2F11%2FClementinum-beautiful-library-960x540.jpg&f=1&nofb=1&ipt=7f4dcdc66536e93855bde7cc84da26a74cfec7d65912604badd3f49a077904c8&ipo=images");
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    
}


.navbar{
    padding-top: 200px;
    border-radius: 20%;
    background-color:transparent;
    width:100%;
    height: 50px;
    /* border-color: brown; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: rgb(255, 255, 255);

}
li {
    list-style: none;}


a {
        text-decoration: none;
    } 
.navbar li {
    background-color:rgb(238, 141, 76);
    border-radius:10%;
    border-bottom: 50px;
    height: 20px;;
    width: max-content;
}
.navbar li a{

    color: azure;
   
    
}       
.navbar li:hover{
    width:max-content;
    height:max-content;
    /* background-color: red; */
    border-radius: 10%;
    border-color: aqua;
    color: black;
    /* background-color: rgb(59, 59, 59); */
    font-weight: bold;
    border-bottom-color: aqua;
    border-bottom: 3px solid red;
    transition: transform 0.5s;
    
}